<!-- <a routerLink="order">Order Component</a>
 -->
<!-- <a routerLink="home">Home</a>
&nbsp;
<a routerLink="blog"> Blog</a>
&nbsp;
<a routerLink="about"> About</a>
&nbsp;
<h1>About</h1>
<h3> Hello from AboutController</h3> -->

<!-- <app-notfound></app-notfound> -->

<!-- <app-login></app-login> -->
<!-- <app-contactus></app-contactus> -->
<!-- <app-about></app-about> -->

<!-- <a routerLink="login">Order Component</a><br><br> -->
<!-- <app-signup></app-signup> -->

<!-- <app-oddeven></app-oddeven> -->
<!-- <h1 style="text-align: center;">
{{title}}
</h1> -->
<!-- <app-employee></app-employee> -->
<!-- <app-httpverbs></app-httpverbs> -->
<h1> Sample Unit Testing</h1>
<a routerLink="contact"> Contact</a>
<router-outlet></router-outlet>
